
<div class="row">
  <div class="col-xs-6">
    <img class="homeImage" src="http://ih0.redbubble.net/image.26612137.5704/fig,asphalt,mens,ffffff.u2.jpg">
  </div>
  <div  class="col-xs-6">
    <h2 class="titleMain"> Nerd and Proud ?</h2>
    <br>
    <h4 class="subLine">Show off your inner nerd with coding apparel</h4>
    <p class="mainDescription">Gastropub sriracha fashion axe, fap master cleanse listicle small batch actually iPhone cred hashtag. Street art brunch authentic post-ironic.</p>
  </div>
</div>
