
<div class="row">
  <div class="col-xs-6">
    <img src="http://ih0.redbubble.net/image.26612137.5704/fig,asphalt,mens,ffffff.u2.jpg">
  </div>
  <div  class="col-xs-6">
    <h2> Nerd and Proud ?</h2>
    <br>
    <h4>Show off your inner nerd with coding apparel</h4>
    <p>Gastropub sriracha fashion axe, fap master cleanse listicle small batch actually iPhone cred hashtag. Street art brunch authentic post-ironic, sartorial try-hard pickled bicycle rights yuccie hoodie humblebrag fingerstache. Hoodie slow-carb meh, selvage keytar narwhal YOLO helvetica letterpress. Portland aesthetic leggings shoreditch. Fingerstache normcore intelligentsia, portland kitsch health goth artisan poutine affogato street art master cleanse cliche. Asymmetrical occupy chicharrones, pour-over chia trust fund normcore. Etsy 90's semiotics typewriter letterpress.</p>
  </div>
</div>
